.body {
  background-color: #2A2C2F;
  color: #FFF;
  /* Подключение основного шрифта и начертания */
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}