.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: calc(100% + (100px + 100px));
  gap: 16px;
}
/* Размер грида на меньшем расширении */
@media screen and (max-width: 1184px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    width: 100%;
    gap: 14px;
  }
}
/* Размер грида на меньшем расширении */
@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}
/* Размер лого на меньшем расширении (mobile) */
@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 100%;
    max-width: 100%;
    row-gap: 12px;
  }
}