.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  box-sizing: border-box;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px auto;
  padding: 0;
  gap: 16px;
}
/* Стили для иного расширениия */
@media screen and (max-width: 1250px) {
  .photo-grid {
    /* Переходим на три колонки */
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}
/* Стили для иного расширениия */
@media screen and (max-width: 950px) {
  .photo-grid {
    /* Переходим на две колонки */
    grid-template-columns: repeat(2, 352px);
    margin: 0 auto 88px auto;
    width: calc(100% - 48px);
    gap: 16px;
  }
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 767px) {
  .photo-grid {
    /* Мобильнная одиночная колонка с вычислением отступов по ширине */
    grid-template-columns: 100%;
    width: calc(100% - 32px);
    margin: 0 auto 64px auto;
    gap: 12px;
  }
}