.footer__items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 760px) {
  .footer__items {
    flex-direction: column;
    gap: 32px;
  }
}