.cover__description {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .cover__description {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 550px) {
  .cover__description {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}