.footer__author {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
/* Стили для иного расширениия */
@media screen and (max-width: 767px) {
  .footer__author {
    line-height: 14px;
  }
}