.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
}
/* Убираем отступ у последнего элемента */
.place__paragraph:last-child {
  margin: 0;
}
/* Стили для иного расширениия */
@media screen and (max-width: 1023px){
  .place__paragraph {
    margin: 0 0 25px 0;
  }
}