.lead__figcaption {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/* Стили для иного расширениия */
@media screen and (max-width: 950px) {
  .lead__figcaption {
    margin: 8px 0 0 24px;
  }
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 375px) {
  .lead__figcaption {
    margin: 8px 0 0 16px;
  }
}