.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}
/* Отступы страницы на меньшем расширении (mobile)  */
@media screen and (max-width: 767px) {
  .intro {
    width: 100%;
  }
}