.footer__item {
  text-decoration: none;
  color: #FFF;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  transition: 0.4s ease-in-out;
}
/* Затемнение при наведении на ссылку */
.footer__item:hover {
  opacity: 0.8;
}
/* Стили для иного расширениия */
@media screen and (max-width: 760px) {
  .footer__item {
    font-size: 24px;
    line-height: 24px;
  }
}