.cover__title {
  position: relative;
  max-width: 560px;
  text-align: center;
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
}
/* Стили на меньшем расширении (mobile) */
@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    margin: 0 0 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
}