.place {
  display: grid;
  margin: 0 0 80px 0;
  padding: 0;
  /* Построение сетки с учётом минимальной и максимальной ширины расширений, без учёта mobile, т.к там ширина 100% */
  /* 460 - максимальная ширина изображения, 340 - минимальная, аналогично с текстовой фракцией  */
  grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 460px) minmax(352px, 484px);
  gap: 48px 40px;
}
.place:last-child {
  margin: 0;
}
/* Построение отступов сетки на ином расширении */
@media screen and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}
/* Построение отступов сетки на ином расширении */
@media screen and (max-width: 1023px) {
  .place {
    margin: 0 0 73px 0;
    gap: 48px 28px;
  }
}
/* Построение сетки на mobile */
@media screen and (max-width: 767px) {
  .place {
    margin: 0 0 50px 0;
    grid-template-columns: 100%;
    gap: 32px;
  }
}

