.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto 24px auto;
}
/* Стили для иного расширениия */
@media screen and (max-width: 1215px) {
  .footer {
    margin: 0 48px 24px 48px;
  }
}
/* Стили для иного расширениия */
@media screen and (max-width: 950px) {
  .footer {
    margin: 0 24px 24px 24px;
  }
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin: 0 16px 24px 16px;
  }
}