.place__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 163%;
}
/* Стили для иного расширениия */
@media screen and (max-width: 950px) {
  .place__description {
    font-size: 16px;
  }
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 767px) {
  .place__description {
    margin: 0 16px 0 16px;
  }
}