.places__description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}
/* Стили на меньшем расширении */
@media screen and (max-width: 1023px) {
  .places__description {
    font-size: 16px;
  }
}